* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    height: 5.5rem;
    align-items: center;
    background-color: black;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    justify-content: space-around;
    color: white;
    margin-left: 4rem;
}

.house {
    margin-right: .5em;
    color: white;
}

.rt-container {
    display: flex;
    margin-right: 3rem;
}

.intro-btn {
    font-weight: 450;
    text-decoration: none;
    margin: 1rem;
    padding: .5rem .75rem;
    border-radius: 0.8rem;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.submit {
    width: 14rem;
    height: 3.25rem;
    background-color: #191a1b;
    color: white;
    border: 1px solid white;
    font-size: x-large;
}

.sign-in {
    width: 8rem;
    height: 3.25rem;
    background-color: #4c5fd5;
    border: 1px solid black;
    color: white;
    transition: 0.5s;
}

.sign-in:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}

.subtitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: x-large;
    text-transform: capitalize;
    margin-left: .5em;
    color: white;
}

.split {
    font-size: xx-large;
}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: x-large;
    text-transform: capitalize;
    margin-right: .5em;
}

.search {
    width: 100%;
    height: 25rem;
    background-color: #dadbf1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4.5rem;
}

.search-bar {
    width: 65%;
    height: 4rem;
    margin: .75rem 0;
    font-size: 2rem;
    border: 1px solid black;
    border-radius: .2em;
    text-align: left;
    text-indent: .5em;
}

.text-boxes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0;
}

.box-groups {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.box {
    width: 45%;
    margin: 2rem 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4rem;
}

.box h3 {
    margin-bottom: 1.5rem;
}