* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    main {
        margin-left: 10px;
    }
    
    .box {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 1rem 0;
    background-color: black;
    }
    
    .box1 {
    background-color: red;
    transition: all 2s ease-in-out;
    }

    .box1:hover {
        width: 300px;
    }
    
    .box2 {
    background-color: red;
    transition: all 1s ease-in-out;
    }

    .ex3-wrapper:hover .box2 {
        width: 300px;
    }
    
    .box3 {
    background-color: blue;
    transition: all 1s ease-in-out 1s;
    }

    .ex3-wrapper:hover .box3 {
        width: 300px;
    }

    .center {
        display: flex;
        justify-content: center;
    }

    .ex4-wrapper {
        margin: 50px 0;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ex4-lft {
        display: flex;
        flex-direction: column;
    }

    .ex4-rt {
        display: flex;
        flex-direction: column;
    }

    .hi {
        position: absolute;
        z-index: -1;
    }

    .box4 {
        margin: 0 0;
        background-color: red;
        transform-origin: 0 0;
        transition: transform 1s ease-in-out;
    }

    .box5 {
        margin: 0 0;
        background-color: blue;
        transform-origin: 0 100%;
        transition: transform 1s ease-in-out;
    }

    .box6 {
        margin: 0 0;
        background-color: yellow;
        transform-origin: 100% 0;
        transition: transform 1s ease-in-out;
    }

    .box7 {
        margin: 0 0;
        background-color: green;
        transform-origin: 100% 100%;
        transition: transform 1s ease-in-out;
    }

    .ex4-wrapper:hover .box4 {
        transform: rotate(90deg);
    }

    .ex4-wrapper:hover .box5 {
        transform: rotate(-90deg);
    }

    .ex4-wrapper:hover .box6 {
        transform: rotate(-90deg);
    }

    .ex4-wrapper:hover .box7 {
        transform: rotate(90deg);
    }

    .anim-dots {
        width: 100%;
        height: 30rem;
        background-color: #ecf0f1;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .dot {
        width: 25px;
        height: 25px;
        background-color: #555555;
        margin: 0 15px;
        border-radius: 50%;
    }

    .dot1 {
        animation: pulse ease-in-out .6s infinite alternate;
    }

    .dot2 {
        animation: pulse ease-in-out .6s infinite alternate;
        animation-delay: .2s;
    }

    .dot3 {
        animation: pulse ease-in-out .6s infinite alternate;
        animation-delay: .4s;
    }

    @keyframes pulse {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(1.5);
        }
    }

    /* pokeball */

    .ball-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 20px;
    }

    .anim-ball {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 300px;
        transform-origin: 50% 100%;
        animation: roll linear 2s infinite;
    }

    .black-circ {
        width: 100%;
        height: 100%;
        background-color: black;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .red-half {
        width: 85%;
        height: 42.5%;
        display: flex;
        flex-direction: row;
    }

    .red-lft {
        width: 50%;
        height: 100%;
        background-color: red;
        border-top-left-radius: 100%;
    }

    .red-rt {
        width: 50%;
        height: 100%;
        background-color: red;
        border-top-right-radius: 100%;
    }

    .bottom-half {
        width: 85%;
        height: 42.5%;
        display: flex;
        flex-direction: row;
    }

    .grey-shadow {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    .grey-lft {
        width: 50%;
        height: 100%;
        background-color: lightgray;
        border-bottom-left-radius: 100%;
    }

    .grey-rt {
        width: 50%;
        height: 100%;
        background-color: lightgray;
        border-bottom-right-radius: 100%;
    }

    .white-half {
        position: absolute;
        width: 15rem;
        height: 7.5rem;
        display: flex;
        flex-direction: row;
    }

    .white-lft {
        width: 50%;
        height: 100%;
        background-color: white;
        border-bottom-left-radius: 100%;
    }

    .white-rt {
        width: 50%;
        height: 100%;
        background-color: white;
        border-bottom-right-radius: 100%;
    }

    .black-line {
        width: 16rem;
        height: 2rem;
        background-color: black;
        position: absolute;
    }

    .black-center {
        width: 7rem;
        height: 7rem;
        position: absolute;
        background-color: black;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mini-white {
        width: 70%;
        height: 70%;
        background-color: white;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mini-black {
        width: 90%;
        height: 90%;
        background-color: black;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .white-center {
        width: 85%;
        height: 85%;
        background-color: white;
        border-radius: 100%;
    }

    @keyframes roll {
        0% {
            transform: rotate(0deg);
        }
        25% {
            transform: rotate(-25deg);
        }
        75% {
            transform: rotate(25deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }