* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.hero-section {
    padding-top: 1em;
    padding-bottom: 5em;
    background-image: url(../img/console.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero {
    width: 90%;
    max-width: 1800px;
    margin: 10em auto;
}

.hero h1 {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: #b921ff;
    text-transform: uppercase;
    text-shadow: 2px 2px #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hero p {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: #b921ff;
    font-size: 1.5rem;
    margin-top: 1rem;
    text-shadow: 2px 1px #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    width: 90%;
    max-width: 1800px;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a2456;
    text-shadow: 2px 2px #000000;
    color: #b921ff;
}

.header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left p {
    margin-left: .25em;
    font-size: clamp(2rem, 5.5vw, 3rem);
    text-transform: uppercase;
}

.header-left i {
    margin-left: .25em;
    font-size: clamp(2rem, 3vw, 3rem);
}

nav a {
    font-size: clamp(1rem, 1.75vw, 2rem);
    color: #b921ff;
    text-shadow: 2px 1px #000000;
    text-transform: uppercase;
}

.products {
    width: 90%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: rgb(250, 250, 255)
}

.product {
    width: clamp(25em, 48%, 60em);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
    position: relative;
    cursor: pointer;
}

.product img {
    display: inline;
    aspect-ratio: 1/1;
}

.pre-order-btn,
.shop-btn {
    text-transform: uppercase;
    padding: .4rem .7rem;
    font-weight: bold;
    font-size: .8rem;
    letter-spacing: .1rem;
}

.pre-order-btn {
    background-color: #ff8b68;
    position: absolute;
    top: 20px;
    right: 0;
}

.shop-btn {
    background-color: #1a2456;
    color: white;
    border-radius: 20px;
    display: none;
}

.item {
    margin: .25em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-name {
    text-transform: uppercase;
    font-weight: bold;
}

.item-desc {
    margin: 0.25em 0;
}

footer {
    display: flex;
    justify-content: flex-start;
    background-color: #1a2456;
    flex-wrap: wrap;
}

.top-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
}

.bottom-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.col-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1em .7em;
}

.col-container-sub {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1em .7em;
    width: 59%;
}

.footer-subtitle {
    font-weight: bold;
    text-transform: uppercase;
    color: #edb591;
    text-shadow: 2px 2px #000000;
    margin-bottom: 1em;
}

.footer-p {
    color: #edb591;
    margin: .1em 0;
}

.footer-a {
    color: #edb591;
    margin: .25em 0;
}

.icon-links i {
    color: #edb591;
}