.font-wrapper {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: normal;
}

.schedule-wrapper {
    padding-top: 15px;
}

.class-list {
    margin-top: 0;
}

p {
    margin: 0;
}