* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

main {
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.form-heading {
    margin-left: 2rem;
}

.form-title {
    text-transform: capitalize;
    font-weight: bolder;
    font-size: x-large;
    margin-top: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form-desc {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    margin-bottom: 1rem;
}

main hr {
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.form-assignment {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.big-label {
    width: 8em;
    font-weight: bold;
    margin-right: 3rem;
    margin-bottom: 2rem;
}

.group {
    display: flex;
    flex-direction: row;
}

.big-cont {
    display: flex;
    flex-direction: column;
}

.mini-cont {
    display: flex;
}

.address {
    width: 20.5rem;
}

.small-box {
    width: 10rem;
}

.email {
    width: 15.5rem;
    height: 1.4em;
}

.area {
    width: 5rem;
}

.position {
    width: 15.5rem;
    height: 1.4em;
}

.photo {
    width: 15.5rem;
    height: 2rem;
}

.mini-group {
    display: flex;
    flex-direction: column;
    margin-right: .5rem;
    margin-bottom: 1rem;
}

.name-input {
    width: 8rem;
}

.label-lower {
    font-size: small;
}

.terms {
    margin-top: 1rem ;
}

.submit {
    display: flex;
    justify-content: center;
    width: 36rem;
    margin: 2rem 0;
}

.submit-btn {
    width: 5rem;
    height: 2rem;
}

.footer-line {
    align-items: flex-end;
}

.footer {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    align-items: center;
    border: 2px solid black;
    background-color: #cab0ff;
}